.header-banner {
  // background-image: url(../images/ricardo-gomez-angel-UrOZTfXT0h0-unsplash.jpg);
  background: url(../images/ricardo-gomez-angel-UrOZTfXT0h0-unsplash.jpg) no-repeat center/cover;
  height: 480px;
}
.footer-banner {
  // background-image: url(../images/ricardo-gomez-angel-UrOZTfXT0h0-unsplash.jpg);
  background: url(../images/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg) no-repeat center/cover;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.live-review-banner {
  background: url(../images/people2.png) no-repeat center/cover;
  // height: 482px;
}

.img-m {
  object-fit: cover;
}